definitions:
  goca.CAData:
    properties:
      certificate:
        description: Certificate string
        example: |
          -----BEGIN CERTIFICATE-----...-----END CERTIFICATE-----
        type: string
      crl:
        description: Revocation List string
        example: |
          -----BEGIN X509 CRL-----...-----END X509 CRL-----
        type: string
      csr:
        description: Certificate Signing Request string
        example: |
          -----BEGIN CERTIFICATE REQUEST-----...-----END CERTIFICATE REQUEST-----
        type: string
      isIntermediate:
        type: boolean
      private_key:
        description: Private Key string
        example: |
          -----BEGIN PRIVATE KEY-----...-----END PRIVATE KEY-----
        type: string
      public_key:
        description: Public Key string
        example: |
          -----BEGIN PUBLIC KEY-----...-----END PUBLIC KEY-----
        type: string
    type: object
  goca.Certificate:
    properties:
      ca_certificate:
        description: CA Certificate as string
        example: |
          -----BEGIN CERTIFICATE-----...-----END CERTIFICATE-----
        type: string
      certificate:
        description: Certificate certificate string
        example: |
          -----BEGIN CERTIFICATE-----...-----END CERTIFICATE-----
        type: string
      csr:
        description: Certificate Signing Request string
        example: |
          -----BEGIN CERTIFICATE REQUEST-----...-----END CERTIFICATE REQUEST-----
        type: string
      private_key:
        description: Certificate Private Key string
        example: |
          -----BEGIN PRIVATE KEY-----...-----END PRIVATE KEY-----
        type: string
      public_key:
        description: Certificate Public Key string
        example: |
          -----BEGIN PUBLIC KEY-----...-----END PUBLIC KEY-----
        type: string
    type: object
  models.CABody:
    properties:
      certificates:
        example:
        - intranet.example.com
        - w3.example.com
        items:
          type: string
        type: array
      common_name:
        example: root-ca
        type: string
      csr:
        example: false
        type: boolean
      dns_names:
        example:
        - ca.example.ca
        - root-ca.example.com
        items:
          type: string
        type: array
      expire_date:
        example: 2022-01-06 10:31:43 +0000 UTC
        type: string
      files:
        $ref: '#/definitions/goca.CAData'
      intermediate:
        type: boolean
      issue_date:
        example: 2021-01-06 10:31:43 +0000 UTC
        type: string
      revoked_certificates:
        example:
        - "38188836191244388427366318074605547405"
        - "338255903472757769326153358304310617728"
        items:
          type: string
        type: array
      serial_number:
        example: "271064285308788403797280326571490069716"
        type: string
      status:
        example: Certificate Authority is ready.
        type: string
    type: object
  models.CertificateBody:
    properties:
      common_name:
        example: intranet.go-root
        type: string
      dns_names:
        example:
        - w3.intranet.go-root.ca
        - intranet.go-root.ca
        items:
          type: string
        type: array
      expire_date:
        example: 2022-01-06 10:31:43 +0000 UTC
        type: string
      files:
        $ref: '#/definitions/goca.Certificate'
      issue_date:
        example: 2021-01-06 10:31:43 +0000 UTC
        type: string
      serial_number:
        example: "338255903472757769326153358304310617728"
        type: string
    type: object
  models.Payload:
    type: object
  models.ResponseCA:
    properties:
      data:
        $ref: '#/definitions/models.CABody'
    type: object
  models.ResponseCertificates:
    properties:
      data:
        $ref: '#/definitions/models.CertificateBody'
    type: object
  models.ResponseError:
    properties:
      error:
        example: error message
        type: string
    type: object
  models.ResponseList:
    properties:
      data:
        example:
        - cn1
        - cn2
        - cn3
        items:
          type: string
        type: array
    type: object
info:
  contact:
    name: GoCA API Issues Report
    url: http://github.com/kairoaraujo/goca/issues
  description: GoCA Certificate Authority Management API.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: GoCA API
paths:
  /api/v1/ca:
    get:
      description: list all the Certificate Authorities
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.ResponseList'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ResponseError'
        "500":
          description: Internal Server Error
          schema:
            type: Internal
      summary: List Certificate Authorities (CA)
      tags:
      - CA
    post:
      consumes:
      - application/json
      description: create a new Certificate Authority Root or Intermediate
      parameters:
      - description: Add new Certificate Authority or Intermediate Certificate Authority
        in: body
        name: json_payload
        required: true
        schema:
          $ref: '#/definitions/models.Payload'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.ResponseCA'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ResponseError'
        "500":
          description: Internal Server Error
          schema:
            type: Internal
      summary: Create new Certificate Authorities (CA) or Intermediate Certificate
        Authorities (ICA)
      tags:
      - CA
  /api/v1/ca/{cn}:
    get:
      description: list the Certificate Authorities data
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.ResponseCA'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ResponseError'
        "500":
          description: Internal Server Error
          schema:
            type: Internal
      summary: Certificate Authorities (CA) Information based in Common Name
      tags:
      - CA
  /api/v1/ca/{cn}/certificates:
    get:
      description: list all certificates managed by a certain Certificate Authority
        (cn)
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.ResponseCA'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ResponseError'
        "500":
          description: Internal Server Error
          schema:
            type: Internal
      summary: List all Certificates managed by a certain Certificate Authority
      tags:
      - CA/{CN}/Certificates
    post:
      consumes:
      - application/json
      description: the Certificate Authority issues a new Certificate
      parameters:
      - description: Add new Certificate Authority or Intermediate Certificate Authority
        in: body
        name: ca
        required: true
        schema:
          $ref: '#/definitions/models.Payload'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.ResponseCertificates'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ResponseError'
        "500":
          description: Internal Server Error
          schema:
            type: Internal
      summary: CA issue new certificate
      tags:
      - CA/{CN}/Certificates
  /api/v1/ca/{cn}/certificates/{certificate_cn}:
    delete:
      consumes:
      - application/json
      description: the Certificate Authority revokes a managed Certificate
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.CABody'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ResponseError'
        "500":
          description: Internal Server Error
          schema:
            type: Internal
      summary: CA revoke a existent certificate managed by CA
      tags:
      - CA/{CN}/Certificates
    get:
      description: get information about a certificate issued by a certain CA
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.ResponseCertificates'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ResponseError'
        "500":
          description: Internal Server Error
          schema:
            type: Internal
      summary: Get information about a Certificate
      tags:
      - CA/{CN}/Certificates
  /api/v1/ca/{cn}/sign:
    post:
      consumes:
      - application/json
      description: create a new certificate signing a Certificate Sigining Request
        (CSR)
      parameters:
      - description: Attached CSR file
        in: formData
        name: file
        required: true
        type: file
      - description: Number certificate valid days
        in: query
        name: valid
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.ResponseCertificates'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ResponseError'
        "500":
          description: Internal Server Error
          schema:
            type: Internal
      summary: Certificate Authorities (CA) Signer for Certificate Sigining Request
        (CSR)
      tags:
      - CA
  /api/v1/ca/{cn}/upload:
    post:
      description: Upload a Certificate to a ICA pending certificate
      parameters:
      - description: Attached signed Certificate file
        in: formData
        name: file
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.ResponseCA'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ResponseError'
        "500":
          description: Internal Server Error
          schema:
            type: Internal
      summary: Upload a Certificate to an Intermediate CA
      tags:
      - CA
schemes:
- http
- https
securityDefinitions:
  BasicAuth:
    type: basic
swagger: "2.0"
