name: GoCA REST API Docker test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Go 1.21
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe
      with:
        go-version: 1.21
      id: go

    - name: Set up Docker
      uses: docker-practice/actions-setup-docker@v1

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Push to GitHub Packages
      uses: docker/build-push-action@v2
      with:
        username: ${{ github.actor }}
        password: ${{ secrets.GPR_TOKEN }}
        registry: docker.pkg.github.com
        repository: kairoaraujo/goca/goca-rest-api
        tag_with_ref: true

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: kairoaraujo/goca:dev

    - name: Update repo description
      uses: peter-evans/dockerhub-description@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: kairoaraujo/goca
        readme-filepath: ./DOCKER_README.md